// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'IRANSans';
* {
    font-family: $body-font-family !important;
}
div .v-application {
    .display-1,
    .display-2,
    .display-3,
    .display-4,
    .headline,
    .title,
    .subtitle-1,
    .subtitle-2,
    .body-1,
    .body-2,
    .caption,
    .overline {
        font-family: $body-font-family !important;
    }
}

.up_and_down {
    animation-name: up_and_down;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: linear;
}

.buzz {
    /* animation: buzz 5s 5s 2s 10 0s none; */
    animation-name: buzz;
    animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes up_and_down {
    0% {
        transform: translateY(3px);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(3px);
    }
}


@keyframes buzz {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.2);
    }
    25% {
        transform: rotate(15deg) scale(1.2)
    }
    28% {
        transform: rotate(-25deg) scale(1.2)
    }
    31% {
        transform: rotate(15deg) scale(1.2)
    }
    34% {
        transform: rotate(-8deg) scale(1.2)
    }
    37% {
        transform: rotate(3deg) scale(1.2)
    }
    60% {
        transform: scale(1);
    }
  }